target/
build/
out/
node_modules/
.idea/
.gradle/
.DS_Store

*.iml

indy-oracle-api/build.bat
indy-oracle-api/firebase-credentials.json
indy-oracle-api/src/main/resources/application.yml
indy-oracle-ui/.env
indy-oracle-ui/.vscode/
indy-oracle-ui/build.bat

k8s/deployments/indy-oracle-api-deployment.yml
k8s/deployments/indy-oracle-ui-deployment.yml